.hero {
  background: url("../../images/hero.jpg") no-repeat top center/cover;
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: end;
  color: #fff;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}
